<html>
<head>
<title>Query Result</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
	<div class="main-w3layouts wrapper">
		<h1> {{ msg }} </h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				
				<p>To search an existing employee, <a href="/searchEmployee"> click here</a>.</p> </br>
				<p>To register another employee, <a href="/registerEmployee"> click here</a>.</p>
			</div>
		</div>
	</div>
</body>
</html>